<!DOCTYPE html>     @*Bu sayfadaki bütün kodlar ortak . ortak olmayan kısmı renderbody() çekiyor.*@
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge">
    <meta name="viewport" content="with=device-width,initial-scale=0.1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar") //
    </header> 
    <div class="container mt-3">
        <main>
            @RenderBody() @* buradaki  renderbody() değşen yerleri temsil ediyor ve index.cshtml ile CourseList.cshtml kodlarını çekiyor.*@
        </main>
    </div>
</body>
</html>
