<!DOCTYPE html>     @*Bu sayfadaki bütün kodlar ortak . ortak olmayan kısmı renderbody() çekiyor.*@
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge">
    <meta name="viewport" content="with=device-width,initial-scale=0.1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">TeamApp</a> 
                <ul class="navbar-nav me-auto">
                    <a href="#" class="nav-link">Home</a>
                    </li> 
                    <li class="nav-item">
                        <a href="#" class="nav-link">Teams</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header> 
    <div class="container mt-3">
        <main>
            @RenderBody() @* buradaki  renderbody() değşen yerleri temsil ediyor ve index.cshtml ile CourseList.cshtml kodlarını çekiyor.*@
        </main>

    </div>


</body>
</html>
