<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge">
    <meta name="viewport" content="with=device-width,initial-scale=0.1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1>home index page</h1>

</body>
</html>
