@model List<Course>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge">
    <meta name="viewport" content="with=device-width,initial-scale=0.1">
    <title>Document</title>
</head>
<body>
    <h1>course list</h1>
    @foreach (var kurs in Model)
    {
        <div id ="kurs_@kurs.Id">
            <h2>@kurs.Title</h2>
            <p>@kurs.Description</p>
            <img src="~/img/@kurs.image" width="200" alt=""/>
        </div>
        
    }
     


</body>
</html>
   